<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body >
    <% include ../partials/nav %>

    <section style="width: 100%; height:800px; text-align: center; float: center;">
      <h1 style="margin-top: 80px">나의 계획들</h1>
      <div class="layer">
            <table class="table table-striped" style="margin-top: 50px">
                <thead>
                    <tr>
                        <th scope="col" colspan="1">No.</th>
                        <th scope="col" colspan="3">계획명</th>
                        <th scope="col" colspan="1">작성 날짜</th>
                        <th scope="col" colspan="1">선택</th>
                      </tr>
                </thead>
                <tbody>
                        <% for(var i=0; i<plans.length; i++) {%> 
                        <tr>
                        <th scope="row" colspan="1"><%= i+1 %></th>
                        <td colspan="3"><%= plans[i].title %></td> 
                        <td colspan="1"><%= plans[i].date %></td>
                        <td colspan="1">
                          <button type = 'button' class = "btn btn-outline-info" onClick='openPop()'>보기</button>
                        </td> 
                        </tr>
                        <% } %> 
                </tbody>
             </table>
      </div>
    </section>
  </body>
  <script>
      function openPop(title) {
        var pop_title = "스케줄표";
        window.open("/myplans/schedule?title="+title, pop_title, "width=1000, height=800");

      }
  </script>
</html>
